body {
    margin: 0;
    display: flex;
    font-family: Righteous, Arial, Helvetica, sans-serif;
}

.hide {
    display: none;
}

main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: blueviolet;
    background-image: url('./images/cottage.jpg');
    background-size: cover;
}

.score-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-holder {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.30);
    border-radius: 15px;
}

.score {
    font-size: 40px;
}

.play-again, .score {
    font-family: Righteous;
    margin: 7px;
}

.grid {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 450px;
    width: 600px;
    background-color: #36494E;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.30);
}

img {
    border-radius: 15px;
    border: 2px solid #84A59D;
    cursor: pointer;
}

img:hover {
    border: 2px solid #E6C229
}

.match-modal {
    position: absolute;
    z-index: 99999;
    padding: 50px;
    height: 450px;
    width: 600px;
}

.play-again {
    height: 35px;
    width: 200px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: 3px solid ;
    background-color: #84A59D;;
}

.play-again:hover {
    border: 3px solid #E6C229;
    background-color: #36494E;
    color: #E6C229;
}