.grid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 350px;
    width: 450px;
    background-color: aqua;
}

img {
    border-radius: 15px;
    border: 2px solid yellow;
}